@import "mixin";

.navbar {
  @include box-shadow(2);
}

.disabled {
  cursor: not-allowed;
}
input:disabled {
  cursor: not-allowed;
}
select:disabled {
  cursor: not-allowed;
}

.height-300 {
  height: 300px;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
